<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration confirmation</title>

    <!--    Bootstrap ref   -->
    <link rel="stylesheet" href="style.css" >
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div style="margin-top: 50px; border: 2px hidden ; box-shadow: 1px 1px wheat; background-color:ghostwhite;border-radius: 10px"
     class="mainContainer col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-2">
    <div class="panel panel-info">
        <div style="text-align: center; color: whitesmoke; text-shadow: 1px 1px mediumseagreen;background-color: lightseagreen"
             class="panel-title">Welcome to Pay my buddy !
        </div>
    </div>
    <div>
        <p>Thank you for registering to Pay my buddy,<br> now you can connect as a new user !
            <br>Next step: add some money to your account</p>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <a th:href="@{/showLoginPage}" class="btn btn-primary">Connect as new user</a>
        </div>
    </div>
</div>


</body>
</html>